body {
    background-color: #094074;
}
.logo {
    /* height: 10%; */
    width: 80px;
    margin: 5px;
}
div h1 {
    font-family: Permanent Marker, Helvetica, sans-serif;
    font-size: 40px;
    text-align: center;
    color: #094074;
    /* text-shadow: 5px 5px 10px #B4D4E7;  */
}
div p {
    font-size: 25px;
    padding: auto 350px;
    font-family: Russo One, Helvetica, sans-serif;
    text-align: center;
    color: #094074;
}
header {
    /* height: 90px; */
    display: grid;
    grid-template-columns: 1fr 4fr;
    background-color: #FFEA8E;
}
nav{
    display: flex;
    justify-content: space-around;
}
nav a {
    /* height: 80px; */
    text-align: center;
    color: #094074;
    font-family: Permanent Marker, Helvetica, sans-serif;
    text-decoration: none;
    font-size: 1em;
    margin: auto;
    margin-left: 85px;
    padding: 35px;
}
nav input {
    height: 50px;
    margin-top: 20px;
    margin-right: 5px;
    float: right;
}
section h1 {
    font-family: Permanent Marker, Helvetica, sans-serif;
    font-size: 50px;
    text-align: center;
    color: #094074;
    text-shadow: 5px 5px 10px #B4D4E7;   
}
section p {
    margin: 100px 20px;
    padding: auto 350px;
    font-family: Russo One, Helvetica, sans-serif;;
    text-align: center;
    color: #094074;
}
#main {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    background-color: #B4D4E7;
}
#main-box {
    grid-column: 1/4;
    grid-row: 1/3;
}
#main-pic {
    width: 100%;
}
#main-title {
    grid-column: 2/3;
    grid-row: 1/2;
    text-align: center;
}
#main-msg {
    grid-column: 2/3;
    background-color: #B4D4E7;
}
#main-link {
    font-family: Permanent Marker, Helvetica, sans-serif;
    color: #094074;
    text-shadow: 5px 5px 10px #B4D4E7;
    /* border: 2px solid red;
    border-radius: 5px; */
}
.link {
    font-family: Permanent Marker, Helvetica, sans-serif;
    color: #094074;
    margin-left: 46%;
}
#module {
    background-color: #FFEA8E;
    /* margin: 50px auto; */
}
#home {
    background-color: #B4D4E7;
    margin: 50px 0px;
    margin-bottom: 0px;
    display: grid;
    grid-template-rows: 1fr 1fr;
}
.sub-home {
    margin: 25px 50px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.home-pics {
    width: 400px;
    height: 450px;
    margin: auto auto;
}
footer {
    background-color: #FFEA8E;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
footer p {
    margin: auto;
}
.social {
    margin: 10px auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
#lessons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    margin: 35px 75px;
    padding: 25px 100px;
}
#form {
    margin: auto 50px;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}
form {
    margin: 10px auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
form section {
    margin: auto;
    text-align: center;
}
label {
    margin: 5px auto;
    font-family: Permanent Marker, Helvetica, sans-serif;
    font-size: 20px;
    text-align: center;
    color: #094074;
}
input {
    font-family: Russo One, Helvetica, sans-serif;
}
input[type=text],input[type=tel], select {
    font-family: Russo One, Helvetica, sans-serif;;
    width: 30%;
    height: 50px;
    padding: 12px 20px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
input[type=submit] {
    margin: auto;
    width: 100%;
    background-color: #3C6997;
    color: white;
    padding: 14px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
input[type=submit]:hover {
    background-color: #3C6997;
}
#button {
    grid-column: 1/4;
} 
#register-pic {
    width: 100%;
    margin: 20px auto;
}
.flip-card {
    margin: 35px auto;
    background-color: transparent;
    width: 300px;
    height: 200px;
    border: 1px solid #f1f1f1;
    perspective: 1000px;
}
.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}
.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}
.flip-card-front, .flip-card-back {
    position: absolute;
    width: 300px;
    height: 200px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.flip-card-front {

    background-color: #bbb;
    color: black;
}
.flip-card-front img{
    width: 300px;
    height: 200px;
}
.flip-card-back {
    background-color: #FFEA8E;
    color: white;
    transform: rotateY(180deg);
}